
@inherits LayoutComponentBase

<link href="css/sidebar.css" rel="stylesheet" />
<div class="bb-page">

    <Sidebar2 @ref="sidebar"
             Href="/"
             Title="InfoUnsa"
             DataProvider="Sidebar2DataProvider"/>       
    <main>
        <div class="bb-top-row px-4 d-flex justify-content-between bb-top-row px-4 d-flex superior-row">
            <Icon Name="IconName.List" role="button" Color="IconColor.White" @onclick="ToggleSidebar" />
                <span>
                <Button To="/login" class="login-button" Color="ButtonColor.Light" Size="ButtonSize.Small">Iniciar Sesión</Button>
                <Button To="/login" Class="login-button" Color="ButtonColor.Dark" Size="ButtonSize.Small">Registrarse</Button>
                </span>
        </div>
        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>
    
</div>

@code {
    
}