
@inherits LayoutComponentBase

<link href="css/sidebar.css" rel="stylesheet" />
<div class="bb-page">

    <Sidebar2 @ref="sidebar"
             Href="/"
             Title="InfoUnsa"
             DataProvider="Sidebar2DataProvider"/>       
    <main>
        <div class="bb-top-row px-4 d-flex justify-content-between bb-top-row px-4 d-flex justify-content-between superior-row">
            <Icon Name="IconName.List" role="button" @onclick="ToggleSidebar" />
            <a href="/login" target="_blank">Ingresar/Registrarse</a>
        </div>
        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>
    
</div>

@code {
    
}