@inherits LayoutComponentBase
<link href="css/PublicLayout.css" rel="stylesheet" />
<div class="layout-container">
    <div class="top-row"></div>
    <div class="middle-row">
        <article class="content">
            @Body
        </article>
    </div>
    <div class="bottom-row"></div>
</div>