@inherits LayoutComponentBase
<link href="css/PublicLayout.css" rel="stylesheet" />
<div class="layout-container">
    <div class="top-row"></div>
    <div class="middle-row d-flex">
        <div class="left-column"/>
        <div class="right-column content">
            @Body
        </div>
    </div>
    <div class="bottom-row"></div>
</div>
