@inherits LayoutComponentBase
<link href="css/PublicLayout.css" rel="stylesheet" />
<div class="layout-container">
    <div class="top-row"></div>
    <div class="middle-row d-flex">
        <div class="left-column"></div>
        <div class="right-column">
            <article class="content">
                @Body
            </article>
        </div>
    </div>
    <div class="bottom-row"></div>
</div>
