.custom-dialog-header {
    background-color: rgb(0,108,125) !important;
    color: white;
    font-weight: bold;
}
.custom-modal-header {
    background-color: rgb(0,108,125) !important;
    color: white !important;
    font-weight: bold
}
.custom-header-grid {
    background-color: rgb(0,108,125); 
    color: white; 
}
.custom-primary-button {
    background-color: rgb(20,56,127);
}
.custom-card-title{
    font-weight:bold;
}
h1 {
    font-weight: bold;
    color: rgb(20,56,127);
}

