.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-row {
    background-color: rgb(0,108,125);
    height: 10%;
}

.middle-row {
    
    background-size: cover;
    background-position: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-column {
    background-image: url('../images/fondoLogin.jpg');
    flex: 0 0 50%; /* Ajusta el tamaño de la columna izquierda */
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column {
    flex: 1; /* La columna derecha tomará el espacio restante */
}
.content {
    padding: 20px;
    background: rgba(255, 255, 255); 
    border-radius: 10px;
}

.bottom-row {
    background-color: rgb(20,56,127);
    height: 10%;
}
