:root {
    --bb-sidebar-collapsed-width: 10px;
    --bb-sidebar2-width: 270px;
    --bb-sidebar2-background-color: rgba(234, 234, 234, 1);
    --bb-sidebar-nav-item-text-active-color-rgb: 20, 56, 127;
    --bb-sidebar2-top-row-background-color: rgb(20,56,127);
    --bb-sidebar2-top-row-border-color: white;
    --bb-sidebar2-title-text-color: white;
    --bb-sidebar2-navbar-toggler-icon-color: rgb(0,0,0);
    --bb-sidebar2-navbar-toggler-background-color: rgba(0,0,0,0.08);
    --bb-sidebar2-content-border-color: rgb(194,192,192);
    --bb-sidebar2-nav-item-text-color: rgba(0,0,0,0.9);
    --bb-sidebar2-nav-item-text-active-color-rgb: 0,0,0;
    --bb-sidebar2-nav-item-text-hover-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.9);
    --bb-sidebar2-nav-item-text-active-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.8);
    --bb-sidebar2-nav-item-background-hover-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.15);
    --bb-sidebar2-nav-item-group-background-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.2);
}

.superior-row {
    background-color: rgb(20,56,127);
    color: black;
}
.login-button{
    font-weight:bold;
}


/*rgb(20,56,127) azul raro
rgb(0,108,125) verde azulado
*/