@layout PublicLayout
@page "/Login"

<meta name="google-signin-client_id" content="118413414465-47ibmgc5qletr48ltmodqrv1s0isce2q.apps.googleusercontent.com">
<link href="css/login.css" rel="stylesheet" >

<div class="login-box center">
    <img src="/images/infounsaLogin.jpg" class="center" />
    <div class="g-signin2" data-width="300"  data-longtitle="true"/>
    <hr>
    <div class="justify-content-end d-flex">
        <a href="/" class="center">Entrar como invitado</a>
        <a href="/payment" class="center">Registrar un pago</a>
    </div>
</div>


<script src="https://apis.google.com/js/platform.js" async defer></script>

@code {

}
